.ztree {
    padding: 0;
}
.ztree li span.button.switch {display:none;}
.ztree li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
}
.ztree li a:hover {
    text-decoration:none;
}
.ztree li a.curSelectedNode {
    color: #a94442;
    background-color: #d4d4d4;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}