<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/common/_container::head"></div>
<body class="gray-bg">

<div class="row" xmlns="">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>代码生成</h5>
            </div>
            <div th:text="${params}"></div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="form-horizontal" id="generate">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">项目路径</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="outRoot" name="outRoot"
                                                type="text"
                                                th:value="${params.outRoot}"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">项目的包</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="projectPackage" name="projectPackage"
                                                   type="text"
                                            >
                                            <!--th:value="${params.projectPackage}"-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">核心包</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="basePackage" name="basePackage"
                                                type="text"
                                                th:value="${params.basepackage}"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">作者</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="author" name="author"
                                                   type="text"
                                            >
                                            <!--th:value="${params.author!}"-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">业务名称</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="bizName" name="bizName"
                                                   type="text"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">模块名称</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="moduleName" name="moduleName"
                                                   type="text"
                                            >
                                            <!--th:value="${params.moduleName}"-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">父级菜单名称</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="parentMenuName" name="parentMenuName"
                                                   type="text"
                                            readonly="readonly"
                                            onclick="Code.showMenuSelectTree(); return false;"
                                            style="background-color: #ffffff !important;"
                                            >
                                            <!--th:value="${params.parentMenuName}"-->
                                            <input class="form-control" type="hidden" id="pid" value="">
                                            <div id="pcodeTreeDiv" style="display: none; position: absolute; z-index: 200;">
                                                <ul id="pcodeTree" class="ztree tree-box" style=""></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">表名称</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="tableName" name="tableName"
                                                   type="text"
                                                   disabled="disabled"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">表前缀</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="ignoreTabelPrefix" name="ignoreTabelPrefix"
                                            >
                                            <!--th:value="${params.ignoreTabelPrefix}"-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">类名</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="className" name="className"
                                                   type="text"
                                                   disabled="disabled"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button id="genBtn" type="button" class="btn btn-primary mr10"
                                            onclick="Code.generate()">
                                        <span style="padding: 5px 20px;">生成</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="padding-top: 10px; overflow: hidden"
                             class="container-fluid">
                            <div class="col-md-12">
                                <div class="row admin-form">
                                    <div class="col-md-3 col-md-offset-3">
                                        <h2>数据表</h2>
                                        <div class="list-group" id="tableList"
                                             data-bind="foreach: tables"
                                             style="height: 500px; overflow-y: scroll">
                                            <a href="javascript:void(0)" class="list-group-item" th:each="table : ${tables}"
                                               th:attr="tableName=${table.sqlName}" th:onclick="|Code.selectTable('${table.sqlName}')|"
                                                th:text="|${table.sqlName}-${table.remarks}|">
                                                </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <span><h2>模板</h2></span>
                                        <div class="list-group" id="templateList"
                                             style="height: 500px; overflow-y: scroll">
                                            @for(template in templates!){
                                                <a href="javascript:void(0)" class="list-group-item" key="${template.key}" onclick="Code.selectTemplate('${template.key}')">${template.desc}</a>
                                            @}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-list">
                            <li class="divider"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/js/common/select-list-object.js}"></script>
<script th:src="@{/static/js/modular/code/gen.js}"></script>

<script th:src="@{/static/js/content.js}"></script>
</body>
</html>

