<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/common/_container::head"></div>

<body class="gray-bg">

<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>菜单管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">菜单名称
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="menuName" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle"
                                                type="button">层级
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="level" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary" onclick="Menu.search()">
                                    <i class="fa fa-search"></i>&nbsp;搜索
                                </button>
                            </div>
                        </div>
                        <div class="hidden-xs" id="menuTableToolbar" role="group">
                            <!--@if(shiro.hasPermission("/menu/add")){-->
                            <button type="button" class="btn btn-primary" onclick="Menu.openAddMenu()">
                                <i class="fa fa-plus"></i>&nbsp;添加
                            </button>
                            <!--@}-->
                            <!--@if(shiro.hasPermission("/menu/edit")){-->
                            <button type="button" class="btn btn-primary button-margin" onclick="Menu.openChangeMenu()">
                                <i class="fa fa-edit"></i>&nbsp;修改
                            </button>
                            <!--@}-->
                            <!--@if(shiro.hasPermission("/menu/remove")){-->
                            <button type="button" class="btn btn-primary button-margin" onclick="Menu.delMenu()">
                                <i class="fa fa-remove"></i>&nbsp;删除
                            </button>
                            <!--@}-->
                        </div>
                        <table id="menuTable" data-mobile-responsive="true" data-click-to-select="true">
                            <thead>
                            <tr>
                                <th data-field="selectItem" data-checkbox="true"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/static/js/modular/system/menu/menu.js}"></script>

<script th:src="@{/static/js/content.js}"></script>
</body>
</html>
