<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpc.system.dao.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wpc.system.model.Dict">
        <id column="id" property="id"/>
        <result column="sort" property="sort"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, sort, parent_id, name,code,remarks
	</sql>

    <select id="selectByCode" resultType="Dict">
        select
        <include refid="Base_Column_List"/>
        from sys_dict
        where code = #{code}
    </select>

    <select id="selectByParentCode" resultType="Dict">
        select
        <include refid="Base_Column_List"/>
        from sys_dict
        where parent_id in(select id  from sys_dict where code = #{code}) order by sort asc
    </select>

    <select id="list" resultType="map">
        select * from sys_dict
        where parent_id = 0
        <if test="condition != null and condition != ''">
            AND name like CONCAT('%',#{condition},'%')
        </if>
        order by id ASC
    </select>

</mapper>
