* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	padding-top: 70px;
    background: #656D78 none repeat scroll 0 0;
    font-family: "Open Sans",Arial,Helvetica,sans-serif,Verdana,Tahoma;
}
ul {
    list-style-type: none;
}
a {
    color: #b63b4d;
    text-decoration: none;
}
h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 80px;
    text-align: center;
}
h1 a {
    color: #c12c42;
    font-size: 16px;
}
.accordion {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    /* margin: 30px auto 20px; */
    max-width: 360px;
    width: 100%;
}
.accordion .link {
    border-bottom: 1px solid #ccc;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 15px 15px 42px;
    position: relative;
    transition: all 0.4s ease 0s;
}
.accordion li:last-child .link {
    border-bottom: 0 none;
}
.accordion li i {
    color: #595959;
    font-size: 18px;
    left: 12px;
    position: absolute;
    top: 16px;
    transition: all 0.4s ease 0s;
}
.accordion li i.fa-chevron-down {
    font-size: 16px;
    left: auto;
    right: 12px;
}
.accordion li.open .link {
    color: #b63b4d;
}
.accordion li.open i {
    color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
    transform: rotate(180deg);
}
.submenu {
    background: #444359 none repeat scroll 0 0;
    display: none;
    font-size: 14px;
}
.submenu li {
    border-bottom: 1px solid #4b4a5e;
}
.submenu a {
    color: #d9d9d9;
    display: block;
    padding: 12px 12px 12px 42px;
    text-decoration: none;
    transition: all 0.25s ease 0s;
}
.submenu a:hover {
    background: #b63b4d none repeat scroll 0 0;
    color: #fff;
}
