<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameFirstLower = table.classNameFirstLower>   
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<#macro mapperEl value>${r"#{"}${value}}</#macro>
<mapper namespace="${basepackage}.${subpackage}.dao.${className}Dao">

	<resultMap id="BaseResultMap" type="${basepackage}.${subpackage}.model.${className}">
        <#list table.columns as column>
		<#if column.pk>
		<id property="${column.columnNameLower}" column="${column.sqlName}"/>
		</#if>
		<#if !column.pk>
		<result property="${column.columnNameLower}" column="${column.sqlName}"/>
		</#if>
		</#list>
	</resultMap>

	<#if table.tree == 'true'>
	<resultMap id="BaseParentResultMap" extends="BaseResultMap" type="${basepackage}.${subpackage}.model.${className}">
		<association property="parent" javaType="${basepackage}.${subpackage}.model.${className}">
			<#list table.columns as column>
			<#if column.pk>
			<id property="${column.columnNameLower}" column="parent.${column.sqlName}"/>
			</#if>
			<#if !column.pk>
			<result property="${column.columnNameLower}" column="${column.sqlName}"/>
			</#if>
			</#list>
		</association>
	</resultMap>
	</#if>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="table_columns">
		<#list table.columns as column>
		${column.sqlName}<#if column_has_next>,</#if>
		</#list>
	</sql>
	<sql id="entity_properties">
		<#list table.columns as column>
		${'#'}{${column.columnNameFirstLower}}<#if column_has_next>,</#if>
		</#list>
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="${basepackage}.${subpackage}.model.${className}">
		INSERT INTO
			${table.sqlName}
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<#list table.columns as column>
			<if test="${column.columnNameFirstLower} != null">${column.sqlName},</if>
			</#list>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<#list table.columns as column>
			<if test="${column.columnNameFirstLower} != null">${r'#{'}${column.columnNameFirstLower}, jdbcType=${column.jdbcSqlTypeName}${r'},'}</if>
			</#list>
		</trim>
	</insert>

	<update id="update" parameterType="${basepackage}.${subpackage}.model.${className}">
		UPDATE
			${table.sqlName}
		<trim prefix="set" suffixOverrides=",">
			<#list table.notPkColumns as column>
			<if test="${column.columnNameFirstLower} != null">${column.sqlName} = ${r'#{'}${column.columnNameFirstLower}, jdbcType=${column.jdbcSqlTypeName} ${r'}'},</if>
			</#list>
		</trim>
		WHERE
			id = <@mapperEl "id"/>
	</update>

	<delete id="deleteById" parameterType="long">
		DELETE FROM
			${table.sqlName}
		WHERE
			id = <@mapperEl "id"/>
	</delete>

	<delete id="deleteByIds">
		DELETE FROM
			${table.sqlName}
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			${'#'}{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns" />
		FROM
			${table.sqlName}
		WHERE
			id = <@mapperEl "id"/>
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			${table.sqlName}
	</select>

	<sql id="sel_where">
		<trim prefix="where" prefixOverrides="and |or ">
			<#list table.columns as column>
			<#if column_index gt 0 && !column.pk>
			<if test="${column.columnNameLower} != null and ${column.columnNameLower} != ''">and ${column.sqlName} = ${'#'}{${column.columnNameLower}}</if>
			</#if>
		</#list>
		</trim>
	</sql>

	<select id="search" resultMap="BaseResultMap" parameterType="${basepackage}.${subpackage}.model.${className}">
		SELECT
			<include refid="table_columns"/>
		FROM
			${table.sqlName}
		<include refid="sel_where" />
	</select>

	<select id="count" resultType="int" parameterType="${basepackage}.${subpackage}.model.${className}">
		SELECT
			COUNT(id)
		FROM
			${table.sqlName}
		<include refid="sel_where" />
	</select>

		<!-- 分页查询条件，供datatables插件查询使用 -->
	<sql id="page_where">
		<if test="condition != null">
		<trim prefix="where" prefixOverrides="and |or ">
			<#list table.columns as column>
			<#if column_index gt 0 && !column.pk>
			<if test="condition.${column.columnNameLower} != null and condition.${column.columnNameLower} != ''">and ${column.sqlName} = ${'#'}{condition.${column.columnNameLower}}</if>
			</#if>
			</#list>
		</trim>
		</if>
	</sql>

	<!-- 查询条数，供datatables插件查询使用 -->
	<select id="countPage" resultType="int">
		SELECT
			COUNT(id)
		FROM
			${table.sqlName}
		<include refid="page_where" />
	</select>

	<!-- 分页查询，供datatables插件查询使用 -->
	<select id="searchPage" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			${table.sqlName}
		<include refid="page_where" />
		<include refid="order"/>
		<include refid="limit"/>
	</select>

	<!-- 排序，供datatables插件查询使用 -->
	<sql id="order">
		<if test="condition.orderColumn != null and condition.orderColumn != ''">ORDER BY ${'$'}{condition.orderColumn} ${'$'}{condition.orderDir}</if>
	</sql>

	<!-- 分页，供datatables插件查询使用  -->
	<sql id="limit">
		<if test="start != null and length != null">LIMIT ${'#'}{start}, ${'#'}{length}</if>
	</sql>

	<#if table.tree == 'true'>
	<select id="findByParentIdsLike" resultMap="BaseParentResultMap">
		SELECT
			id,
			parent_id AS "parent.id",
			parent_ids
		FROM ${table.sqlName}
		WHERE del_flag != ${'#'}{DEL_FLAG_DELETE} AND parent_ids LIKE ${'#'}{parentIds}
		ORDER BY sort
	</select>

	<update id="updateParentIds">
		UPDATE ${table.sqlName} SET
			parent_id = ${'#'}{parent.id},
			parent_ids = ${'#'}{parentIds}
		WHERE id = ${'#'}{id}
	</update>
	</#if>

	<!-- 自定义sql语句 -->

</mapper>