@CHARSET "UTF-8";

svg {
	border: 1px solid blue;
	margin: 0px;
}

body{
	margin: 0px;
}

div{
	border: 1px solid white;
	background: slategray;
}

div#sidebar{
	float: left;
	width: 20px;
	height: 700px;
	overflow: hidden;
}

div#sidebar div{
	width: 18px;
	height: 18px;
}

div#sidebar div span{
	border: 1px solid transparent;
	width: 16px;
	text-align: center;
	float: left;
	margin-top: 3px;
	color: white;
	cursor: default;
	font-size: 10px;
}

div#sidebar div:hover{
	background: orangered;
/* 	background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, OrangeRed 100%); */
}

div.drawing{
	background: orangered;
/* 	background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, OrangeRed 100%); !important */
}

/* rect, rect.selected{ */
/* 	border: 6px solid green !important; */
/* 	box-shadow: 1px 1px 1px 1px red;  */
/* 	stroke: red !important; */
/* } */


