<html xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar-default navbar-static-side" role="navigation" >
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="img-circle" th:src="@{/static/images/girl.gif}" width="64px" height="64px"/>

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                           <span class="block m-t-xs"><strong class="font-bold">王鹏程</strong></span>
                            <span class="text-muted text-xs block">管理员<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu m-t-xs">
                            <li><a class="J_menuItem" th:href="@{/mgr/user_info}">个人资料</a></li>
                            <li><a class="J_menuItem" th:href="@{/mgr/user_chpwd}">修改密码</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/logout}">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">GS
                    </div>
                </li>

                <li th:each="title : ${titles}">
                    <a class="J_menuItem" th:if="${#lists.isEmpty(title.children)}" th:href="@{${title.url}}" name="tabMenuItem">
                        <i th:attr="class='fa '+${title.icon}"></i>
                        <span class="nav-label" th:text="${title.name}"></span>
                    </a>
                    <a href="#" th:unless="${#lists.isEmpty(title.children)}">
                        <i class="fa ${title.icon}"></i>
                        <span class="nav-label" th:text="${title.name}"></span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level" th:unless="${#lists.isEmpty(title.children)}">
                        <li th:each="subTitle : ${title.children}">
                            <a class="J_menuItem" th:if="${#lists.isEmpty(subTitle.children)}" th:href="@{${subTitle.url}}" name="tabMenuItem" th:text="${subTitle.name}"></a>
                            <a href="#" th:unless="${#lists.isEmpty(subTitle.children)}">${subTitle.name} <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level" th:unless="${#lists.isEmpty(subTitle.children)}">
                                <li th:each="thirdTitle : ${subTitle.children}">
                                    <a class="J_menuItem" th:href="@{${thirdTitle.url}}" name="tabMenuItem" th:text="${thirdTitle.name}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--@for(title in titles){
                    @if(tool.isEmpty(title.children)){
                        <li>
                            <a class="J_menuItem" href="${ctxPath}${title.url}" name="tabMenuItem">
                                <i class="fa ${title.icon}"></i>
                                <span class="nav-label">${title.name}</span>
                            </a>
                        </li>
                    @}else{
                        <li>
                            <a href="#">
                                <i class="fa ${title.icon}"></i>
                                <span class="nav-label">${title.name}</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                @for(subTitle in title.children){
                                    @if(tool.isEmpty(subTitle.children)){
                                        <li>
                                            <a class="J_menuItem" href="${ctxPath}${subTitle.url}" name="tabMenuItem">${subTitle.name}</a>
                                        </li>
                                    @}else{
                                        <li>
                                            <a href="#">${subTitle.name} <span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                @for(thirdTitle in subTitle.children){
                                                <li>
                                                    <a class="J_menuItem" href="${ctxPath}${thirdTitle.url}" name="tabMenuItem">${thirdTitle.name}</a>
                                                </li>
                                                @}
                                            </ul>
                                        </li>
                                    @}
                                @}
                            </ul>
                        </li>
                    @}
                @}-->

            </ul>
        </div>
    </nav>
</html>