<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpc.sys.dao.ElementDao">

	<resultMap id="BaseResultMap" type="com.wpc.sys.model.Element">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="menuId" column="menu_id" jdbcType="BIGINT"/>
		<result property="menuIds" column="menu_ids" jdbcType="VARCHAR"/>
		<result property="elementName" column="element_name" jdbcType="VARCHAR"/>
		<result property="elementCode" column="element_code" jdbcType="VARCHAR"/>
		<result property="elementDesc" column="element_desc" jdbcType="VARCHAR"/>
		<result property="sort" column="sort" jdbcType="INTEGER"/>
		<result property="createBy" column="create_by" jdbcType="BIGINT"/>
		<result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
		<result property="updateBy" column="update_by" jdbcType="BIGINT"/>
		<result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
		<result property="remarks" column="remarks" jdbcType="VARCHAR"/>
		<result property="delFlag" column="del_flag" jdbcType="CHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="table_columns">
		id,
		menu_id,
		menu_ids,
		element_name,
		element_code,
		element_desc,
		sort,
		create_by,
		create_date,
		update_by,
		update_date,
		remarks,
		del_flag
	</sql>
	<sql id="entity_properties">
		#{id},
		#{menuId},
		#{menuIds},
		#{elementName},
		#{elementCode},
		#{elementDesc},
		#{sort},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag}
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.wpc.sys.model.Element">
		INSERT INTO
			sys_element
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="menuId != null">menu_id,</if>
			<if test="menuIds != null">menu_ids,</if>
			<if test="elementName != null">element_name,</if>
			<if test="elementCode != null">element_code,</if>
			<if test="elementDesc != null">element_desc,</if>
			<if test="sort != null">sort,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createDate != null">create_date,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateDate != null">update_date,</if>
			<if test="remarks != null">remarks,</if>
			<if test="delFlag != null">del_flag,</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id, jdbcType=BIGINT},</if>
			<if test="menuId != null">#{menuId, jdbcType=BIGINT},</if>
			<if test="menuIds != null">#{menuIds, jdbcType=VARCHAR},</if>
			<if test="elementName != null">#{elementName, jdbcType=VARCHAR},</if>
			<if test="elementCode != null">#{elementCode, jdbcType=VARCHAR},</if>
			<if test="elementDesc != null">#{elementDesc, jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort, jdbcType=INTEGER},</if>
			<if test="createBy != null">#{createBy, jdbcType=BIGINT},</if>
			<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP},</if>
			<if test="updateBy != null">#{updateBy, jdbcType=BIGINT},</if>
			<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP},</if>
			<if test="remarks != null">#{remarks, jdbcType=VARCHAR},</if>
			<if test="delFlag != null">#{delFlag, jdbcType=CHAR},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.wpc.sys.model.Element">
		UPDATE
			sys_element
		<trim prefix="set" suffixOverrides=",">
			<if test="menuId != null">menu_id = #{menuId, jdbcType=BIGINT },</if>
			<if test="menuIds != null">menu_ids = #{menuIds, jdbcType=VARCHAR },</if>
			<if test="elementName != null">element_name = #{elementName, jdbcType=VARCHAR },</if>
			<if test="elementCode != null">element_code = #{elementCode, jdbcType=VARCHAR },</if>
			<if test="elementDesc != null">element_desc = #{elementDesc, jdbcType=VARCHAR },</if>
			<if test="sort != null">sort = #{sort, jdbcType=INTEGER },</if>
			<if test="createBy != null">create_by = #{createBy, jdbcType=BIGINT },</if>
			<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP },</if>
			<if test="updateBy != null">update_by = #{updateBy, jdbcType=BIGINT },</if>
			<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP },</if>
			<if test="remarks != null">remarks = #{remarks, jdbcType=VARCHAR },</if>
			<if test="delFlag != null">del_flag = #{delFlag, jdbcType=CHAR },</if>
		</trim>
		WHERE
			id = #{id}
	</update>

	<delete id="deleteById" parameterType="long">
		DELETE FROM
			sys_element
		WHERE
			id = #{id}
	</delete>

	<delete id="deleteByIds">
		DELETE FROM
			sys_element
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns" />
		FROM
			sys_element
		WHERE
			id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_element
	</select>

	<sql id="sel_where">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="menuId != null and menuId != ''">and menu_id = #{menuId}</if>
			<if test="menuIds != null and menuIds != ''">and menu_ids = #{menuIds}</if>
			<if test="elementName != null and elementName != ''">and element_name = #{elementName}</if>
			<if test="elementCode != null and elementCode != ''">and element_code = #{elementCode}</if>
			<if test="elementDesc != null and elementDesc != ''">and element_desc = #{elementDesc}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
			<if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
			<if test="createDate != null and createDate != ''">and create_date = #{createDate}</if>
			<if test="updateBy != null and updateBy != ''">and update_by = #{updateBy}</if>
			<if test="updateDate != null and updateDate != ''">and update_date = #{updateDate}</if>
			<if test="remarks != null and remarks != ''">and remarks = #{remarks}</if>
			<if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
		</trim>
	</sql>

	<select id="search" resultMap="BaseResultMap" parameterType="com.wpc.sys.model.Element">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_element
		<include refid="sel_where" />
	</select>

	<select id="count" resultType="int" parameterType="com.wpc.sys.model.Element">
		SELECT
			COUNT(id)
		FROM
			sys_element
		<include refid="sel_where" />
	</select>

		<!-- 分页查询条件，供datatables插件查询使用 -->
	<sql id="page_where">
		<if test="condition != null">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="condition.menuId != null and condition.menuId != ''">and menu_id = #{condition.menuId}</if>
			<if test="condition.menuIds != null and condition.menuIds != ''">and menu_ids = #{condition.menuIds}</if>
			<if test="condition.elementName != null and condition.elementName != ''">and element_name = #{condition.elementName}</if>
			<if test="condition.elementCode != null and condition.elementCode != ''">and element_code = #{condition.elementCode}</if>
			<if test="condition.elementDesc != null and condition.elementDesc != ''">and element_desc = #{condition.elementDesc}</if>
			<if test="condition.sort != null and condition.sort != ''">and sort = #{condition.sort}</if>
			<if test="condition.createBy != null and condition.createBy != ''">and create_by = #{condition.createBy}</if>
			<if test="condition.createDate != null and condition.createDate != ''">and create_date = #{condition.createDate}</if>
			<if test="condition.updateBy != null and condition.updateBy != ''">and update_by = #{condition.updateBy}</if>
			<if test="condition.updateDate != null and condition.updateDate != ''">and update_date = #{condition.updateDate}</if>
			<if test="condition.remarks != null and condition.remarks != ''">and remarks = #{condition.remarks}</if>
			<if test="condition.delFlag != null and condition.delFlag != ''">and del_flag = #{condition.delFlag}</if>
		</trim>
		</if>
	</sql>

	<!-- 查询条数，供datatables插件查询使用 -->
	<select id="countPage" resultType="int">
		SELECT
			COUNT(id)
		FROM
			sys_element
		<include refid="page_where" />
	</select>

	<!-- 分页查询，供datatables插件查询使用 -->
	<select id="searchPage" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_element
		<include refid="page_where" />
		<include refid="order"/>
		<include refid="limit"/>
	</select>

	<!-- 排序，供datatables插件查询使用 -->
	<sql id="order">
		<if test="condition.orderColumn != null and condition.orderColumn != ''">ORDER BY ${condition.orderColumn} ${condition.orderDir}</if>
	</sql>

			<!-- 分页，供datatables插件查询使用  -->
	<sql id="limit">
		<if test="start != null and length != null">LIMIT #{start}, #{length}</if>
	</sql>

	<!-- 通过菜单id删除按钮 -->
	<delete id="deleteByMenuId" parameterType="long">
		DELETE FROM sys_element
		WHERE menu_id = #{menuId}
	</delete>

</mapper>