<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpc.sys.dao.MenuDao">

	<resultMap id="BaseResultMap" type="com.wpc.sys.model.Menu">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="parentId" column="parent_id" jdbcType="BIGINT"/>
		<result property="parentIds" column="parent_ids" jdbcType="VARCHAR"/>
		<result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
		<result property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
		<result property="href" column="href" jdbcType="VARCHAR"/>
		<result property="target" column="target" jdbcType="VARCHAR"/>
		<result property="icon" column="icon" jdbcType="VARCHAR"/>
		<result property="isActive" column="is_active" jdbcType="CHAR"/>
		<result property="sort" column="sort" jdbcType="INTEGER"/>
		<result property="createBy" column="create_by" jdbcType="BIGINT"/>
		<result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
		<result property="updateBy" column="update_by" jdbcType="BIGINT"/>
		<result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
		<result property="remarks" column="remarks" jdbcType="VARCHAR"/>
		<result property="delFlag" column="del_flag" jdbcType="CHAR"/>
		<association property="parent" javaType="com.wpc.sys.model.Menu">
			<id property="id" column="parent.id"/>
			<result property="menuName" column="parent.menu_name"/>
		</association>
	</resultMap>

	<resultMap id="MenuAndChildren" type="com.wpc.sys.model.Menu" >
		<id column="id" property="id" />
		<result column="menu_name" property="menuName" />
		<result column="menu_code" property="menuCode" />
		<result column="href" property="href" />
		<result property="target" column="target" jdbcType="VARCHAR"/>
		<result column="icon" property="icon" />
		<result column="parent_id" property="parentId" />
		<result column="is_active" property="isActive" />
		<result column="sort" property="sort" />
		<result column="remarks" property="remarks" />
		<collection property="children" ofType="com.wpc.sys.model.Menu">
			<id column="c_id" property="id" />
			<result column="c_menu_name" property="menuName" />
			<result column="c_href" property="href" />
			<result column="c_icon" property="icon" />
			<result column="c_menu_code" property="menuCode" />
			<result column="c_parent_id" property="parentId" />
			<result column="c_is_active" property="isActive" />
			<result column="c_sort" property="sort" />
			<result column="c_remarks" property="remarks" />
		</collection>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="table_columns">
		id,
		parent_id,
		parent_ids,
		menu_name,
		menu_code,
		href,
		target,
		icon,
		is_active,
		sort,
		create_by,
		create_date,
		update_by,
		update_date,
		remarks,
		del_flag
	</sql>
	<sql id="entity_properties">
		#{id},
		#{parentId},
		#{parentIds},
		#{menuName},
		#{menuCode},
		#{href},
		#{target},
		#{icon},
		#{isActive},
		#{sort},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag}
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.wpc.sys.model.Menu">
		INSERT INTO
			sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="parentId != null">parent_id,</if>
			<if test="parentIds != null">parent_ids,</if>
			<if test="menuName != null">menu_name,</if>
			<if test="menuCode != null">menu_code,</if>
			<if test="href != null">href,</if>
			<if test="target != null">target,</if>
			<if test="icon != null">icon,</if>
			<if test="isActive != null">is_active,</if>
			<if test="sort != null">sort,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createDate != null">create_date,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateDate != null">update_date,</if>
			<if test="remarks != null">remarks,</if>
			<if test="delFlag != null">del_flag,</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id, jdbcType=BIGINT},</if>
			<if test="parentId != null">#{parentId, jdbcType=BIGINT},</if>
			<if test="parentIds != null">#{parentIds, jdbcType=VARCHAR},</if>
			<if test="menuName != null">#{menuName, jdbcType=VARCHAR},</if>
			<if test="menuCode != null">#{menuCode, jdbcType=VARCHAR},</if>
			<if test="href != null">#{href, jdbcType=VARCHAR},</if>
			<if test="target != null">#{target, jdbcType=VARCHAR},</if>
			<if test="icon != null">#{icon, jdbcType=VARCHAR},</if>
			<if test="isActive != null">#{isActive, jdbcType=CHAR},</if>
			<if test="sort != null">#{sort, jdbcType=INTEGER},</if>
			<if test="createBy != null">#{createBy, jdbcType=BIGINT},</if>
			<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP},</if>
			<if test="updateBy != null">#{updateBy, jdbcType=BIGINT},</if>
			<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP},</if>
			<if test="remarks != null">#{remarks, jdbcType=VARCHAR},</if>
			<if test="delFlag != null">#{delFlag, jdbcType=CHAR},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.wpc.sys.model.Menu">
		UPDATE
			sys_menu
		<trim prefix="set" suffixOverrides=",">
			<if test="parentId != null">parent_id = #{parentId, jdbcType=BIGINT },</if>
			<if test="parentIds != null">parent_ids = #{parentIds, jdbcType=VARCHAR },</if>
			<if test="menuName != null">menu_name = #{menuName, jdbcType=VARCHAR },</if>
			<if test="menuCode != null">menu_code = #{menuCode, jdbcType=VARCHAR },</if>
			<if test="href != null">href = #{href, jdbcType=VARCHAR },</if>
			<if test="target != null">target = #{target, jdbcType=VARCHAR },</if>
			<if test="icon != null">icon = #{icon, jdbcType=VARCHAR },</if>
			<if test="isActive != null">is_active = #{isActive, jdbcType=CHAR },</if>
			<if test="sort != null">sort = #{sort, jdbcType=INTEGER },</if>
			<if test="createBy != null">create_by = #{createBy, jdbcType=BIGINT },</if>
			<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP },</if>
			<if test="updateBy != null">update_by = #{updateBy, jdbcType=BIGINT },</if>
			<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP },</if>
			<if test="remarks != null">remarks = #{remarks, jdbcType=VARCHAR },</if>
			<if test="delFlag != null">del_flag = #{delFlag, jdbcType=CHAR },</if>
		</trim>
		WHERE
			id = #{id}
	</update>

	<delete id="deleteById" parameterType="long">
		DELETE FROM
			sys_menu
		WHERE
			id = #{id}
	</delete>

	<delete id="deleteByIds">
		DELETE FROM
			sys_menu
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns" />
		FROM
			sys_menu
		WHERE
			id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_menu
	</select>

	<sql id="sel_where">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>
			<if test="parentIds != null and parentIds != ''">and parent_ids = #{parentIds}</if>
			<if test="menuName != null and menuName != ''">and menu_name = #{menuName}</if>
			<if test="menuCode != null and menuCode != ''">and menu_code = #{menuCode}</if>
			<if test="href != null and href != ''">and href = #{href}</if>
			<if test="target != null and target != ''">and target = #{target}</if>
			<if test="icon != null and icon != ''">and icon = #{icon}</if>
			<if test="isActive != null and isActive != ''">and is_active = #{isActive}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
			<if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
			<if test="createDate != null and createDate != ''">and create_date = #{createDate}</if>
			<if test="updateBy != null and updateBy != ''">and update_by = #{updateBy}</if>
			<if test="updateDate != null and updateDate != ''">and update_date = #{updateDate}</if>
			<if test="remarks != null and remarks != ''">and remarks = #{remarks}</if>
			<if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
		</trim>
	</sql>

	<select id="search" resultMap="BaseResultMap" parameterType="com.wpc.sys.model.Menu">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_menu
		<include refid="sel_where" />
	</select>

	<select id="count" resultType="int" parameterType="com.wpc.sys.model.Menu">
		SELECT
			COUNT(id)
		FROM
			sys_menu
		<include refid="sel_where" />
	</select>

		<!-- 分页查询条件，供datatables插件查询使用 -->
	<sql id="page_where">
		<if test="condition != null">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="condition.parentId != null and condition.parentId != ''">and parent_id = #{condition.parentId}</if>
			<if test="condition.parentIds != null and condition.parentIds != ''">and parent_ids = #{condition.parentIds}</if>
			<if test="condition.menuName != null and condition.menuName != ''">and menu_name = #{condition.menuName}</if>
			<if test="condition.menuCode != null and condition.menuCode != ''">and menu_code = #{condition.menuCode}</if>
			<if test="condition.href != null and condition.href != ''">and href = #{condition.href}</if>
			<if test="condition.target != null and condition.target != ''">and target = #{condition.target}</if>
			<if test="condition.icon != null and condition.icon != ''">and icon = #{condition.icon}</if>
			<if test="condition.isActive != null and condition.isActive != ''">and is_active = #{condition.isActive}</if>
			<if test="condition.sort != null and condition.sort != ''">and sort = #{condition.sort}</if>
			<if test="condition.createBy != null and condition.createBy != ''">and create_by = #{condition.createBy}</if>
			<if test="condition.createDate != null and condition.createDate != ''">and create_date = #{condition.createDate}</if>
			<if test="condition.updateBy != null and condition.updateBy != ''">and update_by = #{condition.updateBy}</if>
			<if test="condition.updateDate != null and condition.updateDate != ''">and update_date = #{condition.updateDate}</if>
			<if test="condition.remarks != null and condition.remarks != ''">and remarks = #{condition.remarks}</if>
			<if test="condition.delFlag != null and condition.delFlag != ''">and del_flag = #{condition.delFlag}</if>
		</trim>
		</if>
	</sql>

	<!-- 查询条数，供datatables插件查询使用 -->
	<select id="countPage" resultType="int">
		SELECT
			COUNT(id)
		FROM
			sys_menu
		<include refid="page_where" />
	</select>

	<!-- 分页查询，供datatables插件查询使用 -->
	<select id="searchPage" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_menu
		<include refid="page_where" />
		<include refid="order"/>
		<include refid="limit"/>
	</select>

	<!-- 排序，供datatables插件查询使用 -->
	<sql id="order">
		<if test="condition.orderColumn != null and condition.orderColumn != ''">ORDER BY ${condition.orderColumn} ${condition.orderDir}</if>
	</sql>

	<!-- 分页，供datatables插件查询使用  -->
	<sql id="limit">
		<if test="start != null and length != null">LIMIT #{start}, #{length}</if>
	</sql>

	<select id="findByParentIdsLike" resultMap="BaseResultMap">
		SELECT
			a.id,
			a.parent_id AS "parent.id",
			a.parent_ids
		FROM sys_menu a
		WHERE a.del_flag != #{DEL_FLAG_DELETE} AND a.parent_ids LIKE #{parentIds}
		ORDER BY a.sort
	</select>

	<update id="updateParentIds">
		UPDATE sys_menu SET
			parent_id = #{parent.id},
			parent_ids = #{parentIds}
		WHERE id = #{id}
	</update>

	<select id="getLeftMenu" resultMap="MenuAndChildren">
		SELECT
		m.id,
		m.menu_name,
		m.menu_code,
		m.href,
		m.icon,
		m.parent_id,
		m.is_active,
		m.sort,
		m.remarks,
		mc.id c_id,
		mc.menu_name c_menu_name,
		mc.href c_href,
		mc.icon c_icon,
		mc.menu_code c_menu_code,
		mc.parent_id c_parent_id,
		mc.is_active c_is_active,
		mc.sort c_sort,
		mc.remarks c_remarks
		FROM
		auth_menu m
		LEFT JOIN
		auth_menu mc
		ON m.id = mc.parent_id
		AND mc.is_active = 1
		WHERE m.parent_id = 0
		AND m.is_active = 1
		ORDER BY m.sort,mc.sort
	</select>

	<select id="findMenusByUserId" resultMap="BaseResultMap">
		SELECT DISTINCT
		m.id,
		m.parent_id  AS "parent.id",
		m.parent_ids,
		m.menu_name,
		m.menu_code,
		m.href,
		m.target,
		m.icon,
		m.is_active,
		m.sort,
		m.create_by,
		m.create_date,
		m.update_by,
		m.update_date,
		m.remarks,
		m.del_flag,
		pa.menu_name AS "parent.menu_name"
		FROM sys_menu m
		LEFT JOIN sys_menu pa ON pa.id = m.parent_id
		LEFT JOIN sys_permission p ON (p.resource_id = m.id AND p.permission_type = 'menu')
		JOIN sys_role_permission rp ON rp.permission_id = p.id
		JOIN sys_role r ON (r.id = rp.role_id AND r.useable='1')
		JOIN sys_user_role ur ON ur.role_id = r.id
		JOIN sys_user u ON u.id = ur.user_id AND u.id = #{userId}
		WHERE m.del_flag != #{DEL_FLAG_DELETE} AND r.del_flag != #{DEL_FLAG_DELETE} AND u.del_flag != #{DEL_FLAG_DELETE}
		ORDER BY m.sort
	</select>

</mapper>