<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpc.sys.dao.SysLogDao">

	<resultMap id="BaseResultMap" type="com.wpc.sys.model.SysLog">
			<id property="id" column="id" jdbcType="INTEGER"/>
			<result property="operName" column="oper_name" jdbcType="VARCHAR"/>
			<result property="operParam" column="oper_param" jdbcType="LONGVARCHAR"/>
			<result property="operType" column="oper_type" jdbcType="VARCHAR"/>
			<result property="operDescribe" column="oper_describe" jdbcType="VARCHAR"/>
			<result property="operLevel" column="oper_level" jdbcType="INTEGER"/>
			<result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
			<result property="userId" column="user_id" jdbcType="INTEGER"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="remoteAddr" column="remote_addr" jdbcType="VARCHAR"/>
			<result property="requestUri" column="request_uri" jdbcType="VARCHAR"/>
			<result property="method" column="method" jdbcType="VARCHAR"/>
			<result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
			<result property="exception" column="exception" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="table_columns">
		id,
		oper_name,
		oper_param,
		oper_type,
		oper_describe,
		oper_level,
		oper_time,
		user_id,
		user_name,
		remote_addr,
		request_uri,
		method,
		user_agent,
		exception
	</sql>
	<sql id="entity_properties">
		#{id},
		#{operName},
		#{operParam},
		#{operType},
		#{operDescribe},
		#{operLevel},
		#{operTime},
		#{userId},
		#{userName},
		#{remoteAddr},
		#{requestUri},
		#{method},
		#{userAgent},
		#{exception}
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.wpc.sys.model.SysLog">
		insert into sys_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="operName != null">oper_name,</if>
			<if test="operParam != null">oper_param,</if>
			<if test="operType != null">oper_type,</if>
			<if test="operDescribe != null">oper_describe,</if>
			<if test="operLevel != null">oper_level,</if>
			<if test="operTime != null">oper_time,</if>
			<if test="userId != null">user_id,</if>
			<if test="userName != null">user_name,</if>
			<if test="remoteAddr != null">remote_addr,</if>
			<if test="requestUri != null">request_uri,</if>
			<if test="method != null">method,</if>
			<if test="userAgent != null">user_agent,</if>
			<if test="exception != null">exception,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id, jdbcType=INTEGER},</if>
			<if test="operName != null">#{operName, jdbcType=VARCHAR},</if>
			<if test="operParam != null">#{operParam, jdbcType=LONGVARCHAR},</if>
			<if test="operType != null">#{operType, jdbcType=VARCHAR},</if>
			<if test="operDescribe != null">#{operDescribe, jdbcType=VARCHAR},</if>
			<if test="operLevel != null">#{operLevel, jdbcType=INTEGER},</if>
			<if test="operTime != null">#{operTime, jdbcType=TIMESTAMP},</if>
			<if test="userId != null">#{userId, jdbcType=INTEGER},</if>
			<if test="userName != null">#{userName, jdbcType=VARCHAR},</if>
			<if test="remoteAddr != null">#{remoteAddr, jdbcType=VARCHAR},</if>
			<if test="requestUri != null">#{requestUri, jdbcType=VARCHAR},</if>
			<if test="method != null">#{method, jdbcType=VARCHAR},</if>
			<if test="userAgent != null">#{userAgent, jdbcType=VARCHAR},</if>
			<if test="exception != null">#{exception, jdbcType=VARCHAR},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.wpc.sys.model.SysLog">
		update sys_log
		<trim prefix="set" suffixOverrides=",">
			<if test="operName != null">oper_name = #{operName, jdbcType=VARCHAR },</if>
			<if test="operParam != null">oper_param = #{operParam, jdbcType=LONGVARCHAR },</if>
			<if test="operType != null">oper_type = #{operType, jdbcType=VARCHAR },</if>
			<if test="operDescribe != null">oper_describe = #{operDescribe, jdbcType=VARCHAR },</if>
			<if test="operLevel != null">oper_level = #{operLevel, jdbcType=INTEGER },</if>
			<if test="operTime != null">oper_time = #{operTime, jdbcType=TIMESTAMP },</if>
			<if test="userId != null">user_id = #{userId, jdbcType=INTEGER },</if>
			<if test="userName != null">user_name = #{userName, jdbcType=VARCHAR },</if>
			<if test="remoteAddr != null">remote_addr = #{remoteAddr, jdbcType=VARCHAR },</if>
			<if test="requestUri != null">request_uri = #{requestUri, jdbcType=VARCHAR },</if>
			<if test="method != null">method = #{method, jdbcType=VARCHAR },</if>
			<if test="userAgent != null">user_agent = #{userAgent, jdbcType=VARCHAR },</if>
			<if test="exception != null">exception = #{exception, jdbcType=VARCHAR },</if>
		</trim>
		where
		id = #{id}
	</update>

	<delete id="deleteById" parameterType="long">
		delete from sys_log
		where
			id = #{id}
	</delete>

	<delete id="deleteByIds">
		DELETE FROM sys_log
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		select
			<include refid="table_columns" />
		from
			sys_log
		where
			id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT <include refid="table_columns"/>
		FROM sys_log
	</select>

	<sql id="sel_where">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="operName != null and operName != ''">and oper_name = #{operName}</if>
			<if test="operParam != null and operParam != ''">and oper_param = #{operParam}</if>
			<if test="operType != null and operType != ''">and oper_type = #{operType}</if>
			<if test="operDescribe != null and operDescribe != ''">and oper_describe = #{operDescribe}</if>
			<if test="operLevel != null and operLevel != ''">and oper_level = #{operLevel}</if>
			<if test="operTime != null and operTime != ''">and oper_time = #{operTime}</if>
			<if test="userId != null and userId != ''">and user_id = #{userId}</if>
			<if test="userName != null and userName != ''">and user_name = #{userName}</if>
			<if test="remoteAddr != null and remoteAddr != ''">and remote_addr = #{remoteAddr}</if>
			<if test="requestUri != null and requestUri != ''">and request_uri = #{requestUri}</if>
			<if test="method != null and method != ''">and method = #{method}</if>
			<if test="userAgent != null and userAgent != ''">and user_agent = #{userAgent}</if>
			<if test="exception != null and exception != ''">and exception = #{exception}</if>
		</trim>
	</sql>

	<select id="search" resultMap="BaseResultMap" parameterType="com.wpc.sys.model.SysLog">
		SELECT <include refid="table_columns"/>
		FROM sys_log
		<include refid="sel_where" />
	</select>

	<select id="count" resultType="int" parameterType="com.wpc.sys.model.SysLog">
		SELECT COUNT(id)
		FROM sys_log
		<include refid="sel_where" />
	</select>

		<!-- 分页查询条件，供datatables插件查询使用 -->
	<sql id="page_where">
		<if test="condition != null">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="condition.operName != null and condition.operName != ''">and oper_name = #{condition.operName}</if>
			<if test="condition.operParam != null and condition.operParam != ''">and oper_param = #{condition.operParam}</if>
			<if test="condition.operType != null and condition.operType != ''">and oper_type = #{condition.operType}</if>
			<if test="condition.operDescribe != null and condition.operDescribe != ''">and oper_describe = #{condition.operDescribe}</if>
			<if test="condition.operLevel != null and condition.operLevel != ''">and oper_level = #{condition.operLevel}</if>
			<if test="condition.operTime != null and condition.operTime != ''">and oper_time = #{condition.operTime}</if>
			<if test="condition.userId != null and condition.userId != ''">and user_id = #{condition.userId}</if>
			<if test="condition.userName != null and condition.userName != ''">and user_name = #{condition.userName}</if>
			<if test="condition.remoteAddr != null and condition.remoteAddr != ''">and remote_addr = #{condition.remoteAddr}</if>
			<if test="condition.requestUri != null and condition.requestUri != ''">and request_uri = #{condition.requestUri}</if>
			<if test="condition.method != null and condition.method != ''">and method = #{condition.method}</if>
			<if test="condition.userAgent != null and condition.userAgent != ''">and user_agent = #{condition.userAgent}</if>
			<if test="condition.exception != null and condition.exception != ''">and exception = #{condition.exception}</if>
		</trim>
		</if>
	</sql>

	<!-- 查询条数，供datatables插件查询使用 -->
	<select id="countPage" resultType="int">
		SELECT COUNT(id)
		FROM sys_log
		<include refid="page_where" />
	</select>

	<!-- 分页查询，供datatables插件查询使用 -->
	<select id="searchPage" resultMap="BaseResultMap">
		SELECT <include refid="table_columns"/>
		FROM sys_log
		<include refid="page_where" />
		<include refid="order"/>
		<include refid="limit"/>
	</select>

	<!-- 排序，供datatables插件查询使用 -->
	<sql id="order">
		<if test="condition.orderColumn != null and condition.orderColumn != ''">ORDER BY ${condition.orderColumn} ${condition.orderDir}</if>
	</sql>

			<!-- 分页，供datatables插件查询使用  -->
	<sql id="limit">
		<if test="start != null and length != null">LIMIT #{start}, #{length}</if>
	</sql>

</mapper>