<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpc.sys.dao.UserDao">

	<resultMap id="BaseResultMap" type="com.wpc.sys.model.User">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="loginName" column="login_name" jdbcType="VARCHAR"/>
		<result property="password" column="password" jdbcType="VARCHAR"/>
		<result property="no" column="no" jdbcType="VARCHAR"/>
		<result property="username" column="username" jdbcType="VARCHAR"/>
		<result property="email" column="email" jdbcType="VARCHAR"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="mobile" column="mobile" jdbcType="VARCHAR"/>
		<result property="userType" column="user_type" jdbcType="CHAR"/>
		<result property="photo" column="photo" jdbcType="VARCHAR"/>
		<result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
		<result property="loginDate" column="login_date" jdbcType="TIMESTAMP"/>
		<result property="loginFlag" column="login_flag" jdbcType="VARCHAR"/>
		<result property="sort" column="sort" jdbcType="INTEGER"/>
		<result property="createBy" column="create_by" jdbcType="BIGINT"/>
		<result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
		<result property="updateBy" column="update_by" jdbcType="BIGINT"/>
		<result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
		<result property="remarks" column="remarks" jdbcType="VARCHAR"/>
		<result property="delFlag" column="del_flag" jdbcType="CHAR"/>
		<result property="companyId" column="company_id" jdbcType="BIGINT"/>
		<result property="departmentId" column="department_id" jdbcType="BIGINT"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="table_columns">
		id,
		login_name,
		password,
		no,
		username,
		email,
		phone,
		mobile,
		user_type,
		photo,
		login_ip,
		login_date,
		login_flag,
		sort,
		create_by,
		create_date,
		update_by,
		update_date,
		remarks,
		del_flag,
		company_id,
		department_id
	</sql>
	<sql id="entity_properties">
		#{id},
		#{loginName},
		#{password},
		#{no},
		#{username},
		#{email},
		#{phone},
		#{mobile},
		#{userType},
		#{photo},
		#{loginIp},
		#{loginDate},
		#{loginFlag},
		#{sort},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag},
		#{companyId},
		#{departmentId}
	</sql>

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.wpc.sys.model.User">
		INSERT INTO
			sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="loginName != null">login_name,</if>
			<if test="password != null">password,</if>
			<if test="no != null">no,</if>
			<if test="username != null">username,</if>
			<if test="email != null">email,</if>
			<if test="phone != null">phone,</if>
			<if test="mobile != null">mobile,</if>
			<if test="userType != null">user_type,</if>
			<if test="photo != null">photo,</if>
			<if test="loginIp != null">login_ip,</if>
			<if test="loginDate != null">login_date,</if>
			<if test="loginFlag != null">login_flag,</if>
			<if test="sort != null">sort,</if>
			<if test="createBy != null">create_by,</if>
			<if test="createDate != null">create_date,</if>
			<if test="updateBy != null">update_by,</if>
			<if test="updateDate != null">update_date,</if>
			<if test="remarks != null">remarks,</if>
			<if test="delFlag != null">del_flag,</if>
			<if test="companyId != null">company_id,</if>
			<if test="departmentId != null">department_id,</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id, jdbcType=BIGINT},</if>
			<if test="loginName != null">#{loginName, jdbcType=VARCHAR},</if>
			<if test="password != null">#{password, jdbcType=VARCHAR},</if>
			<if test="no != null">#{no, jdbcType=VARCHAR},</if>
			<if test="username != null">#{username, jdbcType=VARCHAR},</if>
			<if test="email != null">#{email, jdbcType=VARCHAR},</if>
			<if test="phone != null">#{phone, jdbcType=VARCHAR},</if>
			<if test="mobile != null">#{mobile, jdbcType=VARCHAR},</if>
			<if test="userType != null">#{userType, jdbcType=CHAR},</if>
			<if test="photo != null">#{photo, jdbcType=VARCHAR},</if>
			<if test="loginIp != null">#{loginIp, jdbcType=VARCHAR},</if>
			<if test="loginDate != null">#{loginDate, jdbcType=TIMESTAMP},</if>
			<if test="loginFlag != null">#{loginFlag, jdbcType=VARCHAR},</if>
			<if test="sort != null">#{sort, jdbcType=INTEGER},</if>
			<if test="createBy != null">#{createBy, jdbcType=BIGINT},</if>
			<if test="createDate != null">#{createDate, jdbcType=TIMESTAMP},</if>
			<if test="updateBy != null">#{updateBy, jdbcType=BIGINT},</if>
			<if test="updateDate != null">#{updateDate, jdbcType=TIMESTAMP},</if>
			<if test="remarks != null">#{remarks, jdbcType=VARCHAR},</if>
			<if test="delFlag != null">#{delFlag, jdbcType=CHAR},</if>
			<if test="companyId != null">#{companyId, jdbcType=BIGINT},</if>
			<if test="departmentId != null">#{departmentId, jdbcType=BIGINT},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.wpc.sys.model.User">
		UPDATE
			sys_user
		<trim prefix="set" suffixOverrides=",">
			<if test="loginName != null">login_name = #{loginName, jdbcType=VARCHAR },</if>
			<if test="password != null">password = #{password, jdbcType=VARCHAR },</if>
			<if test="no != null">no = #{no, jdbcType=VARCHAR },</if>
			<if test="username != null">username = #{username, jdbcType=VARCHAR },</if>
			<if test="email != null">email = #{email, jdbcType=VARCHAR },</if>
			<if test="phone != null">phone = #{phone, jdbcType=VARCHAR },</if>
			<if test="mobile != null">mobile = #{mobile, jdbcType=VARCHAR },</if>
			<if test="userType != null">user_type = #{userType, jdbcType=CHAR },</if>
			<if test="photo != null">photo = #{photo, jdbcType=VARCHAR },</if>
			<if test="loginIp != null">login_ip = #{loginIp, jdbcType=VARCHAR },</if>
			<if test="loginDate != null">login_date = #{loginDate, jdbcType=TIMESTAMP },</if>
			<if test="loginFlag != null">login_flag = #{loginFlag, jdbcType=VARCHAR },</if>
			<if test="sort != null">sort = #{sort, jdbcType=INTEGER },</if>
			<if test="createBy != null">create_by = #{createBy, jdbcType=BIGINT },</if>
			<if test="createDate != null">create_date = #{createDate, jdbcType=TIMESTAMP },</if>
			<if test="updateBy != null">update_by = #{updateBy, jdbcType=BIGINT },</if>
			<if test="updateDate != null">update_date = #{updateDate, jdbcType=TIMESTAMP },</if>
			<if test="remarks != null">remarks = #{remarks, jdbcType=VARCHAR },</if>
			<if test="delFlag != null">del_flag = #{delFlag, jdbcType=CHAR },</if>
			<if test="companyId != null">company_id = #{companyId, jdbcType=BIGINT },</if>
			<if test="departmentId != null">department_id = #{departmentId, jdbcType=BIGINT },</if>
		</trim>
		WHERE
			id = #{id}
	</update>

	<delete id="deleteById" parameterType="long">
		DELETE FROM
			sys_user
		WHERE
			id = #{id}
	</delete>

	<delete id="deleteByIds">
		DELETE FROM
			sys_user
		WHERE id IN
		<foreach item="item" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="findById" parameterType="long" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns" />
		FROM
			sys_user
		WHERE
			id = #{id}
	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_user
	</select>

	<sql id="sel_where">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="loginName != null and loginName != ''">and login_name = #{loginName}</if>
			<if test="password != null and password != ''">and password = #{password}</if>
			<if test="no != null and no != ''">and no = #{no}</if>
			<if test="username != null and username != ''">and username = #{username}</if>
			<if test="email != null and email != ''">and email = #{email}</if>
			<if test="phone != null and phone != ''">and phone = #{phone}</if>
			<if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
			<if test="userType != null and userType != ''">and user_type = #{userType}</if>
			<if test="photo != null and photo != ''">and photo = #{photo}</if>
			<if test="loginIp != null and loginIp != ''">and login_ip = #{loginIp}</if>
			<if test="loginDate != null and loginDate != ''">and login_date = #{loginDate}</if>
			<if test="loginFlag != null and loginFlag != ''">and login_flag = #{loginFlag}</if>
			<if test="sort != null and sort != ''">and sort = #{sort}</if>
			<if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
			<if test="createDate != null and createDate != ''">and create_date = #{createDate}</if>
			<if test="updateBy != null and updateBy != ''">and update_by = #{updateBy}</if>
			<if test="updateDate != null and updateDate != ''">and update_date = #{updateDate}</if>
			<if test="remarks != null and remarks != ''">and remarks = #{remarks}</if>
			<if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
			<if test="companyId != null and companyId != ''">and company_id = #{companyId}</if>
			<if test="departmentId != null and departmentId != ''">and department_id = #{departmentId}</if>
		</trim>
	</sql>

	<select id="search" resultMap="BaseResultMap" parameterType="com.wpc.sys.model.User">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_user
		<include refid="sel_where" />
	</select>

	<select id="count" resultType="int" parameterType="com.wpc.sys.model.User">
		SELECT
			COUNT(id)
		FROM
			sys_user
		<include refid="sel_where" />
	</select>

		<!-- 分页查询条件，供datatables插件查询使用 -->
	<sql id="page_where">
		<if test="condition != null">
		<trim prefix="where" prefixOverrides="and |or ">
			<if test="condition.loginName != null and condition.loginName != ''">and login_name = #{condition.loginName}</if>
			<if test="condition.password != null and condition.password != ''">and password = #{condition.password}</if>
			<if test="condition.no != null and condition.no != ''">and no = #{condition.no}</if>
			<if test="condition.username != null and condition.username != ''">and username = #{condition.username}</if>
			<if test="condition.email != null and condition.email != ''">and email = #{condition.email}</if>
			<if test="condition.phone != null and condition.phone != ''">and phone = #{condition.phone}</if>
			<if test="condition.mobile != null and condition.mobile != ''">and mobile = #{condition.mobile}</if>
			<if test="condition.userType != null and condition.userType != ''">and user_type = #{condition.userType}</if>
			<if test="condition.photo != null and condition.photo != ''">and photo = #{condition.photo}</if>
			<if test="condition.loginIp != null and condition.loginIp != ''">and login_ip = #{condition.loginIp}</if>
			<if test="condition.loginDate != null and condition.loginDate != ''">and login_date = #{condition.loginDate}</if>
			<if test="condition.loginFlag != null and condition.loginFlag != ''">and login_flag = #{condition.loginFlag}</if>
			<if test="condition.sort != null and condition.sort != ''">and sort = #{condition.sort}</if>
			<if test="condition.createBy != null and condition.createBy != ''">and create_by = #{condition.createBy}</if>
			<if test="condition.createDate != null and condition.createDate != ''">and create_date = #{condition.createDate}</if>
			<if test="condition.updateBy != null and condition.updateBy != ''">and update_by = #{condition.updateBy}</if>
			<if test="condition.updateDate != null and condition.updateDate != ''">and update_date = #{condition.updateDate}</if>
			<if test="condition.remarks != null and condition.remarks != ''">and remarks = #{condition.remarks}</if>
			<if test="condition.delFlag != null and condition.delFlag != ''">and del_flag = #{condition.delFlag}</if>
			<if test="condition.companyId != null and condition.companyId != ''">and company_id = #{condition.companyId}</if>
			<if test="condition.departmentId != null and condition.departmentId != ''">and department_id = #{condition.departmentId}</if>
		</trim>
		</if>
	</sql>

	<!-- 查询条数，供datatables插件查询使用 -->
	<select id="countPage" resultType="int">
		SELECT
			COUNT(id)
		FROM
			sys_user
		<include refid="page_where" />
	</select>

	<!-- 分页查询，供datatables插件查询使用 -->
	<select id="searchPage" resultMap="BaseResultMap">
		SELECT
			<include refid="table_columns"/>
		FROM
			sys_user
		<include refid="page_where" />
		<include refid="order"/>
		<include refid="limit"/>
	</select>

	<!-- 排序，供datatables插件查询使用 -->
	<sql id="order">
		<if test="condition.orderColumn != null and condition.orderColumn != ''">ORDER BY ${condition.orderColumn} ${condition.orderDir}</if>
	</sql>

			<!-- 分页，供datatables插件查询使用  -->
	<sql id="limit">
		<if test="start != null and length != null">LIMIT #{start}, #{length}</if>
	</sql>

	<select id="getUserByLoginName" resultMap="BaseResultMap" parameterType="String">
		SELECT <include refid="table_columns"/>
		FROM sys_user
		WHERE login_name = #{loginName}
	</select>

	<select id="queryUserByRole" resultMap="BaseResultMap" parameterType="long">
		SELECT
		u.id,
		u.username
		FROM
		sys_user_role ur,
		sys_user u
		WHERE
		ur.user_id = u.id
		AND ur.role_id = #{roleId}
	</select>

</mapper>