<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Guns - 404 页面</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}">
    <link th:href="@{/static/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/font-awesome-4.5.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/style.css}" rel="stylesheet">
</head>

<body class="gray-bg">

    <div class="middle-box text-center">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>

        <div class="error-desc">
            抱歉，页面好像去火星了~
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="请输入您需要查找的内容 …">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>

    <!-- 全局js -->
    <script th:src="@{/static/js/jquery-2.1.3.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>

</body>

</html>
